<div class="panel panel-primary">
    <div class="panel-heading">
           
    <div style="margin-left:auto; margin-right: auto; text-align:center;"> <h1>{{pageTitle +' : '+ client.idClient}}</h1></div> 
    </div><br>

    <div class="panel panel-primary">
        <div class="panel-body" style="margin-left: 20%;">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4"> 
                          <div class="row"><span class="detail">Nom :    </span>   <label>{{client.nomClient}}</label></div>
                        </div>
                        <div class="col-md-4">
                            <div class="row"><span class="detail">Prénom :</span> <label>{{client.prenomClient}}</label></div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail">Date de naissance : </span><label>{{client.dateNaissance}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> Société :</span> <label>{{client.nomSociete}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> Adresse:  </span><label>{{client.adresse}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"> <span class="detail">Ville :</span><label>{{client.ville}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"> <span class="detail">Code postal :</span> <label>{{client.zipcode}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail">Email :</span><label> {{client.mail}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> N° de téléphone :</span> <label>{{client.numTel}}</label></div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> Fax :</span> <label>{{client.fax}}</label></div>
                          </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div style="margin-left: 20%;color: white;">
            <a class="btn btn-primary" (click)='onBack()' role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour
            </a>
        </div>
    </div>