<div class="panel panel-primary">
    <div class="panel-heading">
           
    <div style="margin-left:auto; margin-right: auto; text-align:center;"> <h1>{{pageTitle}}</h1></div> 
    </div><br>

    <div class="panel panel-primary">
        <div class="panel-body" style="margin-left: 20%;">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4"> 
                          <div class="row"><span class="detail">Nom :    </span>  Bibi</div>
                        </div>
                        <div class="col-md-4">
                            <div class="row"><span class="detail">Prénom :</span> Baba</div></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail">Date de naissance : </span> XXXXX</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> Société :</span> Adaming</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> Adresse:  </span> 24 rue quelque chose</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"> <span class="detail">Ville :</span> Lyon</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"> <span class="detail">Code postal :</span> 69200</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail">Email :</span> gmail@gmail.com</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> N° de téléphone :</span> 555 555</div>
                          </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                          <div class="row"><span class="detail"> Fax :</span> 555 550</div>
                          </div>
                    </div>
                </div>
            </div>
        </div><br>
        <div style="margin-left: 20%;color: white;">
            <a class="btn btn-primary" (click)='onBack()' role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour
            </a>
        </div>
    </div>