<div class="panel panel-primary">
  <div class="panel-heading">
      
  <div style="margin-left:auto; margin-right: auto; text-align:center;"> <h1>Ajouter un client</h1></div> 
  </div><br>
  
  <form style="margin-left: 15%;">
    <div class="titre"><h3> Informations générales</h3></div>
     <div class="form-row" >
      <div class="form-group col-md-6">
        <label for="inputNom">Nom</label>
        <input type="text"  [(ngModel)]='client.nomClient' name="nom"class="form-control" id="inputNom" placeholder="Nom">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPrenom">Prénom</label>
        <input type="text" [(ngModel)]='client.prenomClient' name="prenom"class="form-control" id="inputPrenom" placeholder="Prénom">
      </div>
    </div>
    <div class="form-row" >
      <div class="form-group col-md-6">
        <label for="inputDate">Date de naissance (jj/mm/aaaa)</label>
        <input type="date" [(ngModel)]='client.dateNaissance' name="dateNaissance"class="form-control" id="inputDate" placeholder="Date de naissance">
      </div> 
      <div class="form-group col-md-6">
          <label for="inputSociete">Société</label>
          <input type="text" [(ngModel)]='client.nomSociete' name="societe"class="form-control" id="inputSociete" placeholder="Société">
        </div> 
    </div>
    <div class="form-group col-md-12" >
      <label for="inputAddress">Adresse</label>
      <input type="text" [(ngModel)]='client.adresse' name="adresse"class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group col-md-6" >
      <label for="inputVille">Ville</label>
      <input type="text" [(ngModel)]='client.ville' name="ville"class="form-control" id="inputVille" placeholder="Lyon, Nantes...">
    </div>
    <div class="form-group col-md-6" >
      <label for="inputzipcode">Code postal</label>
      <input type="text" [(ngModel)]='client.zipcode' name="zipcode"class="form-control" id="inputzipcode" placeholder="69200, 33000...">
    </div>
    <div class="titre"><h3> Contacts</h3></div>
    <div class="form-group col-md-12">
        <label for="inputMail">Mail</label>
        <input type="email" [(ngModel)]='client.mail' name="mail"class="form-control" id="inputMail" placeholder="Mail">
      </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTel">N° de téléphone</label>
        <input type="tel" [(ngModel)]='client.numTel' name="tel" class="form-control" id="inputTel">
      </div>
      <div class="form-group col-md-6">
        <label for="inputFax">Fax</label>
        <input type="tel" [(ngModel)]='client.fax'name="fax" class="form-control" id="inputFax">
      </div>
    </div> <br><br><br><br>
   <div class="row" style="margin-left: 2px;"><div style="padding-right:8px ; margin-left:1.5%"><button (click)='saveClient()' class="btn btn-primary">Ajouter</button>
    <a  style="color:white; margin-left: 2%;"class="btn btn-primary" (click)='onBack()' role="button">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour
    </a></div>
  </div>
  </form>
 
</div>