<div class="panel panel-primary" >
  <div class="panel-heading" style="text-align:center">
      <h1>{{pageTitle}}</h1>
  </div>
  <div class="panel-body">
      <div class="row">
         
          <div style="text-align:center">
              <input type="text"  [(ngModel)]='filter'/>
              <button class="btn btn-primary" (click)='search([(ngModel)])' >Recherche</button> 
          </div>
        
          
      </div>

      <div class="table-responsive">
          <table class="table" *ngIf='commands && commands.length'>
              <thead>
                  <tr>

                    <th>Nom de client</th>
                      <th>Société</th>
                      <th>Référence</th>
                      <th>Date</th>
                      <th>Model</th>
                      <th>Fabricant</th>

                      <th>Options</th>

                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = 'let commande of filteredCommands'>
                      <td></td>
                      <td>{{commande.commandeSociete}}</td>
                      <td>{{commande.commandeId}}</td>
                      <td>{{commande.date}}</td>
                      <td>{{commande.commandeModele}}</td>
                      <td>{{commande.commandeFabricant}}</td>
                      
                      <td>
                            <a class="clickable" (click)='detailCommande(commande.commandeId)'><span class="glyphicon glyphicon-eye-open"></span></a>
                                <a class="clickable" (click)='ModifCommande(commande.commandeId)'><span class="glyphicon glyphicon-pencil"></span></a>
                                    <a class="clickable" (click)='deleteCommande(commande.commandeId)'><span class="glyphicon glyphicon-trash"></span></a></td>

                  </tr>
              </tbody>
          </table>
      </div>

  </div>

</div>

