<div style="text-align:center">Detail de la facture :</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle + ': ' + facture.code}}
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4"> Numéro : </div>
                    <div class="col-md-8"> {{facture.numCommande}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Code client : </div>
                     <div class="col-md-8"> {{facture.codeClient}} </div>
                 </div>
                 <div class="row">
                        <div class="col-md-4"> Numéro TVA : </div>
                        <div class="col-md-8"> {{facture.numTVA}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Date livraison : </div>
                    <div class="col-md-8"> {{facture.dateLivraison}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Code produit : </div>
                    <div class="col-md-8"> {{facture.codeProduit}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Description : </div>
                    <div class="col-md-8"> {{facture.description}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Quantité : </div>
                    <div class="col-md-8"> {{facture.quantite}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Prix unitaire HT : </div>
                    <div class="col-md-8"> {{facture.prixUnitaireHT}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> TVA : </div>
                    <div class="col-md-8"> {{facture.tva}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Date échéance : </div>
                    <div class="col-md-8"> {{facture.dateEcheance}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Remise : </div>
                    <div class="col-md-8"> {{facture.remise}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Accomptes : </div>
                    <div class="col-md-8"> {{facture.accomptes}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Ordre de commande : </div>
                    <div class="col-md-8"> {{facture.ordredecommande}} </div>
                </div>
                <div class="row">
                    <div class="col-md-4"> Options : </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a class="btn btn-primary" (click)='onBack()' role="button">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour
            </a>
        </div>
    </div>
</div>