<div class="panel panel-primary">
  <div class="panel-heading" style="text-align:center">
     <h1>{{pageTitle + ': ' + commande.id}}</h1> 
  </div>
  <div class="panel-body">
      <div class="row" style="margin-left:10%">
          <div class="col-md-8"><h2 style="margin-left:15%">Informations commande</h2>
             <h4> <div class="row">
                  <div class="col-md-4">Référence : </div>
                  <div class="col-md-8">{{commande.commandeId}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Date : </div>
                <div class="col-md-8">{{commande.date}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Societe : </div>
                <div class="col-md-8">{{commande.commandeSociete}}</div>
            </div>

              <div class="row">
                  <div class="col-md-4">Modele : </div>
                  <div class="col-md-8">{{commande.commandeModele}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">CoupeEnBout : </div>
                <div class="col-md-8">{{commande.commandeCoupeEnBout}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Thermo : </div>
                <div class="col-md-8">{{commande.commandeThermo}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Empdbl : </div>
                <div class="col-md-8">{{commande.commandeEmplDbl}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">ThermoType : </div>
                <div class="col-md-8">{{commande.commandeThermoType}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Faconnier : </div>
                <div class="col-md-8">{{commande.commandeFaconnier}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Receptionneur : </div>
                <div class="col-md-8">{{commande.commandeReceptionneur}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Fabricant : </div>
                <div class="col-md-8">{{commande.commandeFabricant}}</div>
            </div>
        </h4>
        </div>

            <div class="table-responsive" style="margin-right:10%">
                <table class="table" >
                    <thead> <h2 style="text-align:center">Produits</h2>
                        <tr>
                            <th>Couleur</th>
                            <th>Taille</th>
                            <th>Quantite</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = 'let commande of commande'>
                            <td>{{commande.produits.produitCouleur}}</td>
                            <td>{{commande.produits.produitTaille}}</td>
                            <td>{{commande.produits.quantiteProduit}}</td>
                            <td>{{commande.produits.produitPrix}}</td>
      
                        </tr>
                    </tbody>
                </table>
          </div>

      
  </div>
  <div class="panel-footer">
      <a class="btn btn-primary"  role="button">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Back
      </a>
  </div>
</div>
