<div class="panel panel-primary">
  <div class="panel-heading" style="text-align:center">
     <h1>{{pageTitle + ': ' + commande.id}}</h1> 
  </div>
  <div class="panel-body">
      <div class="row" style="margin-left:10%">
          <div class="col-md-8"><h2 style="margin-left:15%">Informations commande</h2>
             <h4> <div class="row">
                  <div class="col-md-4">Référence : </div>
                  <div class="col-md-8">{{commande.id}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">Date : </div>
                <div class="col-md-8">{{commande.date}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Societe : </div>
                <div class="col-md-8">{{commande.societe}}</div>
            </div>

              <div class="row">
                  <div class="col-md-4">Modele : </div>
                  <div class="col-md-8">{{commande.modele}}</div>
              </div>
              <div class="row">
                <div class="col-md-4">CoupeEnBout : </div>
                <div class="col-md-8">{{commande.coupeEnBout}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Thermo : </div>
                <div class="col-md-8">{{commande.thermo}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Empdbl : </div>
                <div class="col-md-8">{{commande.emplDbl}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">ThermoType : </div>
                <div class="col-md-8">{{commande.thermoType}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Faconnier : </div>
                <div class="col-md-8">{{commande.aconnier}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Receptionneur : </div>
                <div class="col-md-8">{{commande.receptionneur}}</div>
            </div>
            <div class="row">
                <div class="col-md-4">Fabricant : </div>
                <div class="col-md-8">{{commande.fabricant}}</div>
            </div>
        </h4>
        </div>

            <div class="table-responsive" style="margin-right:10%">
                <table class="table" >
                    <thead> <h2 style="text-align:center">Produits</h2>
                        <tr>
                            <th>Couleur</th>
                            <th>Taille</th>
                            <th>Quantite</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
      
                        </tr>
                    </tbody>
                </table>
          </div>

      
  </div>
  <div class="panel-footer">
      <a class="btn btn-primary" (click)='onBack()' role="button">
          <i class="glyphicon glyphicon-chevron-left"></i>
          Retour
      </a>
  </div>
</div>
